<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>手指血液循环不良</key>
	<string>按压指甲后,若很慢才由苍白转回红润,表示身体某部分血液循环出了问题（大姆指－呼吸器官,食指－消化器官,中指－肝脏,无名指－生殖器官,小指－心脏）。</string>
    <key>指甲变色</key><string>健康的指甲为半透明的粉红色。
        (1)指甲泛黄：黄疸性肝炎、香港脚。
        (2)指甲呈白色：肾脏病、肝硬化。
        (3)指甲呈黑色：外伤造成淤血、慢性肾功能衰竭、恶性肿瘤、胃肠息肉综合症。
        (4)指甲呈绿色：细菌感染或长期接触化学洗剂。
        (5)指甲呈紫色：表示血液缺o2,有肺病或心脏异常。
        (6)指甲呈红紫色：脑溢血、动脉硬。
        (7)指甲呈樱桃色：一氧化碳中毒。</string>
    <key>月牙太大</key><string>正常的指甲上,半月型月牙占指甲1/5,若月牙太大,表示血压偏高,有中风倾向。</string>
    <key>没有月牙</key><string>经常暴饮,消化吸收不良、排泄不畅、肠壁积存宿便或常泻肚子、肠胃衰竭者,指甲上没有月牙。若十指全没月牙的人,可能患有低血压、贫血或神经衰弱。</string>
    <key>月牙突然消失</key><string>原有的月牙,然消失不见,可能是心脏衰竭或循环系统出问题。</string>
    <key>月牙变成蓝色</key><string>蓝甲症状表示循环系统出问题（心脏或肝脏疾病）,也可能与风湿性关节炎或红班性狼疮有关,不可掉以轻心。</string>
    <key>指头呈圆锤状</key><string>先天性心脏病、支气管炎、肺气肿。</string>
    <key>指尖钝平</key><string>正常为圆狐状,若非因工作（钢琴家、打字员…）而引起的指尖钝平,显示体内严重缺乏水份。</string>
    <key>小指指甲弯曲向内</key><string>斗小指甲者,若指甲越长越内弯,可能有肺结合。</string>
    <key>生倒刺</key><string>缺乏vitc、叶酸、蛋白质,或有咬指甲、撕甲及习惯的人,指甲下方会长出小肉刺。</string>
</dict>
</plist>
