<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>瑜伽呼吸法-胸式呼吸法</key>
    <dict>
        <key>1</key>
        <dict>
            <key>步骤1</key>
            <string>挺直腰部，双腿盘坐于垫子上，右手轻轻放在胸部上方，指尖相触。</string>
        </dict>
        <key>2</key>
        <dict>
            <key>步骤2</key>
            <string>吸气越深时，腹部向内、朝脊柱方向收，此时肋骨是向外和向上扩张的。呼气，肋骨向下并向内收。</string>
        </dict>
        <key>3</key>
        <dict>
            <key>步骤3</key>
            <string>吸气，将空气直接吸入胸部区域，感觉胸部区域扩张，但腹部应保持平坦。</string>
        </dict>
    </dict>
    <!--  -->
 	<key>瑜伽呼吸法-完全呼吸法</key>
    <dict>
        <key>1</key>
        <dict>
            <key>1扩张胸部，完全呼吸</key>
            <string>生命就是一呼一吸间。从呼吸开始体会自己的情绪、情感，你就能找到与自己交流的方式。
有人学习瑜伽后说，“活了30多年到现在才学会怎样喘气！”哈！听起来有些奇怪吗？其实一点也不奇怪。我们身边90%以上的成年人都不会正确地呼吸，常期处于短浅呼吸的状态。</string>
        </dict>
        <key>2</key>
        <dict>
            <key>2学会呼吸，减压抗摔</key>
            <string>当你感觉紧张恐惧的时候、当你感觉压力大疲惫的时候、当你感觉抑郁悲伤的时候，让我们一起来呼吸(你可以选择站姿或坐姿来完成，只要完全呼吸，就有帮助！</string>
        </dict>
        <key>3</key>
        <dict>
            <key>3自觉关注呼吸！</key>
            <string>瑜伽强调呼吸，认为我们有控制自身能量的能力，经过训练人人都有这种能力，因此把瑜伽呼吸叫做Pranayama，就是控制生命能量的意思。不正确呼吸会造成能量的浪费甚至导致身心的不平衡。随时关注自己的呼吸是一种“自觉”的表现。如果工作、生活或者休息时我们都能关注自己的呼吸，身心会变得更加安宁和平静。
</string>
        </dict>
        <key>4</key>
        <dict>
            <key>4随时腹式呼吸！</key>
            <string>腹式呼吸是瑜伽呼吸中最常练习的一种，因为呼吸的过程就是横膈膜上下运动的过程，因此也叫做横膈膜呼吸。这种呼吸常在放松状态中使用,是放松的最好方式。
</string>
        </dict>

<key>5</key>
<dict>
    <key>5腹式(横膈膜)呼吸法</key>
    <string>坐式，吸气时，感觉呼吸一直到达腹腔，腹部放松，腹部自然向外鼓起，横膈膜向上抬起；呼气时，腹部自然内收，横膈膜下沉，通过鼻腔，让气慢慢呼出来。保持这种有节奏的呼吸状态。</string>
</dict>

<key>6</key>
<dict>
    <key>6感觉呼吸一直到达腹腔</key>
    <string>经常练习，熟练后可以在任何站、坐、 行走的过程中进行。</string>
</dict>

    </dict>
    <!---->
    <key>瑜伽呼吸减肥操</key>
    <dict>
        <key>1</key>
        <dict>
            <key>1胸式瑜伽减肥操呼吸法</key>
            <string>胸式瑜伽呼吸法减肥操气息较浅，只适宜于针对性很强的减肥动作，具体的方法则是把气体吸入胸部区域，胸骨、肋骨向外扩张，腹部应保持平坦时，慢慢吸气，缓慢的把肺内浊气排出体外，肋骨和胸部回复原位，则是呼气时，在吸气量加深时，腹部应向内收紧。</string>
        </dict>
        <key>2</key>
        <dict>
            <key>2腹式瑜伽减肥操呼吸法</key>
            <string>腹式瑜伽减肥呼吸法可以帮助练习者在整个练习过程中感到平静，清爽，舒适，愉悦，此种呼吸减肥方法是体位法、冥想和高阶呼吸调控的基础。具体的方法是用鼻子把新鲜的空气缓慢深长的吸入肺的底部，随着吸气量的加深，胸部和腹部之间的横膈膜就向下降，腹内脏器官下移，小腹会像气球一样慢慢鼓起，这则是吸气时的方法，而到呼气时，则是腹部向内、朝脊椎方向收紧，横膈膜自然而然的升起，把肺内的浊气完全排出体外，内脏器官复原位。</string>
        </dict>
        <key>3</key>
        <dict>
            <key>3完全瑜伽减肥呼吸法</key>
            <string>此种瑜伽减肥呼吸法是把胸式呼吸和腹式呼吸结合在一起完成的正确自然的呼吸。具体的方法是首先把空气吸入到肺的底部，腹部区域起涨，然后是空气充满肺的中部、上部，这时，就是从腹式呼吸过渡到胸式呼吸，接下来你会发觉腹壁和肋骨下部向外推出，胸部只有些微移动，这则是轻轻吸气至双肺的最大容量时才有的感觉，而呼气时，则是按相反的顺序。</string>
        </dict>
    </dict>
    <!--  -->
    <key>瑜伽呼吸减肥法 专瘦腹部</key>
    <dict>
        <key>1</key>
        <dict>
            <key>1胸式呼吸</key>
            <string>鼻子深吸气，肩膀后移使胸腔尽量张开，肩膀不耸起，肋骨张开、上移使空气充满胸腔，腹部自然稍微呈凹陷状。深吐气直到吐光空气，肋骨往内往下移回原本位置，吐气时背弓起使腹部内收可助动作确实。重复步骤1至2。</string>
        </dict>
        <key>2</key>
        <dict>
            <key>2腹式呼吸</key>
            <string>以鼻子缓缓深吸气，肩膀不耸起，胸腔不扩张，使空气尽量进入腹部，随着吸气腹部缓缓鼓起。鼻子缓吐气至腹部空气吐尽，腹部凹陷，肩膀与胸腔不动。重复步骤1至2。熟练后可结合胸式与腹式呼吸。</string>
        </dict>
    </dict>
    <!--  -->
    <key>能量治疗</key>
    <dict>
        <key>1</key>
        <dict>
            <key>1深呼吸</key>
            <string>先慢慢地吸气，使肺部充满空气。这一过程需要5秒钟，最后屏住呼吸5秒钟。肺部吸足氧气后，再慢慢吐气。停顿1—2秒钟后，再从头开始，这样反复10分钟。这一练习宜在白天进行。</string>
        </dict>
        <key>2</key>
        <dict>
            <key>2静呼吸</key>
            <string>将右手大拇指按住右鼻孔，慢慢地由左鼻孔深呼吸，同时闭上眼睛，想象吸进的空气是有颜色的，如蓝色、淡黄色或绿色，并尽量让身体各部分都感受到这一颜色，这样会使人感到全身放松，充满活力。当肺内空气饱和时，用右手的食指和中指把左鼻孔也按住，屏气10秒钟，同时想象体内空气中充满了种种的烦恼，最后让空气从右鼻孔连同刚才想象中的烦恼一起吐出。然后按住左鼻孔重新开始，每边各做5次。</string>
        </dict>
        <key>3</key>
        <dict>
            <key>3睡眠呼吸</key>
            <string>这一呼吸对失眠者特别有效。躺在硬板床上，脸朝上，两手平放在躯体两侧，闭上眼睛，然后开始深吸气，同时慢慢抬起双臂，举过头部，紧贴两耳，手指触床头。这一过程约10秒钟，再屏气10秒钟，接着慢慢吐气10秒钟，双臂同时还原。这样反复10次，即能安然入睡。</string>
        </dict>
    </dict>
</dict>
</plist>
