<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict> 
	<key>鞠躬 VS 心脏</key>
	<string>测试前先静坐5 分钟，测得每分钟脉搏数A;然后身体直立，上体微向前屈，再还原，其实就是鞠躬的姿势，连续做20 个(频率适中)，继续测出脉搏数B;休息1 分钟，再测脉搏数C。将三次脉搏数相加，减200，再除以10。得出的结果在0-3 之间，说明心脏强壮;在3-6 之间，说明心脏良好;在6-9 之间状态一般;9-12 之间恐怕你要时刻关注心脏的问题了;若在12 以上，还是尽快去看医生吧。</string>
	<key>单脚立 VS 人体老化</key>
	<string>被测者双手自然下垂，紧贴大腿两侧，闭上眼睛，用一只脚站立，另一人看秒表。根据其单脚独立稳定不移动的世界，来判断老化程度。测定标准为：30-30 岁男性为9.9 秒;40-49岁男性为8.4 秒;50-59 岁男性为7.4 秒。女性比男性推迟10 秒计算。站立时间越长，老化程度越慢。未达标准者，你的生理年龄已经高于你的实际年龄了。</string>
	<key>屏气 VS 肺</key>
	<string>先深吸一口气，然后将头埋进水里，屏住呼吸，再慢慢吐出，看能维持多长时间，当然是越长越好。如果在30 秒以上，就说明你的肺很健康;能达到1 分钟，你的肺就十分强壮了。</string>
	<key>爬楼梯 VS 体力</key>
	<string>以5 层楼为限，30 岁左右的人，一步迈两级台阶，能快速登上5 层楼，仍觉得轻松，说明健康状况良好;50 岁左右的人应该能一级一级登上5 层楼，中途不休息，不用借助扶手，没有明显的气喘现象，说明健康状况不错。不论哪个年龄阶段，如果气喘吁吁，心跳加速，说明体力较差;登上3 楼就又累又喘，意味着身体虚弱，应加强锻炼。</string>
	<key>腰臀 VS 肥胖</key>
	<string>测量时放松站立，男性腰围和臀围的比例应小于0.8，女性则应小于0.7。根据美国运动医学会推荐的标准，女性腰臀比在大于0.85 时，就有发生心血管病的危险，应注意从饮食和运动上调理。</string>
</dict>
</plist>
