<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>血液循环系统</key>
	<dict>
		<key>头痛或长期头痛</key>
		<string>缺钙、铁、镁、铜、钠、Vb1等微量元素都会导致头疼，吃矿物晶一段时间后效果不明显，则要考虑到是脏器官的问题，任何脏器官发病前是先有症状后有病变的。

前额疼：若前额疼带眼眶疼，则询问是否有鼻炎、鼻息肉、鼻窦炎等病史.若没有则是胃经不好。

后脑勺疼：血压高、血压低、心脑血管疾病、脊椎压迫神经、膀胱不好均有可能。

头两侧疼：胆有问题。

左边头疼：缺镁、肝血不足。

右边头疼：肺气下降，也就是说肺这个脏器官虚弱。

头顶疼：可能是肝的问题。

头疼干呕想吐:说明心、肾不好。</string>
		<key>头晕</key>
		<string>气血虚会导致头晕，血压低会头晕（蹲下后起来眼发黑）；吃完饭后头晕、犯困，说明血脂可能偏高，要注意。</string>
		<key>健忘、头脑不清</key>
		<string>膀胱经弱肾经不足，气供脑不足</string>
		<key>记忆力不集中</key>
		<string>是因为脑细胞死亡，不活跃导致记忆力减退(脑细胞，心肌细胞，胰腺细胞死亡均不可再生)；气推血，血推氧，氧供全身，供大脑。所以气血不足也会导致健忘、头脑不清、记忆力不集中，而气来自于肾，所以肾虚弱。</string>
		<key>高、低血压或血脂</key>
		<string>划清高低压，早上高，下午高，低压高，高压不高（血稠）（高压高肾虚）

正常人血压120/60；青少年110/60也属正常范围。血压太高会导致血栓、堵塞，血压太低会导致昏迷，昏迷会大量损伤脑细胞;缺铜、钴会导致恶性贫血。世界卫生组织规定的标准是，成人正常血压为收缩压＜140毫米汞柱（18．7千帕），舒张压＜90毫米汞柱（12千帕）；确诊高血压为收缩压＞＝160毫米汞柱（21．3千帕），舒张压＞＝95毫米汞柱（12．7千帕）；临界高血压为收缩压140－159毫米汞柱，舒张压90－94毫米汞柱</string>
		<key>失眠、睡不安宁</key>
		<string>缺微量元素镁、Vb1、Vb6都会导致失眠；心里压力、心肾不交、气血不足也会失眠；晚饭吃太多也会失眠；（早上吃的像皇帝，中午吃的像绅士，晚上吃的像乞丐）上午多吃东西吸收好，上午阳气旺，阳气可以帮助消化。若是神经性的调节比较慢，压力大的恢复较慢。

心肾相交可促进睡眠，具体做法：睡前热水泡脚，手心搓脚心，即手心的劳宫穴和脚掌的涌泉穴互搓。</string>
		<key>懒床睡不饱</key>
		<string>与营养有关，多吃维生素、矿物质（矿、茶）  脾湿  营养不均衡造成（亡羊补牢，补充全面均衡的科学营养以达调整机能的目的。不是亡羊补羊，机能不调整好，缺什么补什么，往往补不上去。）</string>
		<key>喜吃咸食</key>
		<string>肾脏不好、盐（氯化钠Nacl）、钠会导致血管硬化、氯加重肾代谢负担。说明肾虚（酸入肝，甘入脾，辛入肺，苦入心，咸入肾）</string>
		<key>胸口烦闷</key>
		<string>气血不足，血压高或血压低都会导致心慌。心脏不好。情绪不好，女同志上克乳腺下克子宫，胸口痛冠心病前兆。</string>
		<key>舌头肿胀发炎</key>
		<string>心开窍于舌，出汗多心脏不好，手抖，舌抖，腿抖，咬舌心气不足，咬腮边肝胆气不足；咬嘴唇，脾胃</string>
		<key>牙齿松动易脱落</key>
		<string>牙齿是骨头，肾主骨，牙是肾之花朵。若有牙疼（吃酸倒牙），上牙疼则说明胃火大，下牙疼则说明大肠不好。早上7：00之前调理大肠，7：00之后调理胃。 </string>
		<key>刷牙易流血</key>
		<string>可能是缺少Vc，若怕吃油腻的东西，说明肝脏不好，也会刷牙流血。</string>
		<key>身体局部麻木（清血，补营养）</key>
		<string>血压高；无名指麻说明心脏虚弱，小指麻则说明心脏有病；颈椎、腰椎压迫神经也会麻，腰间盘突出也会局部麻木。血粘会局部麻，筋的营养不全也会麻。</string>
	</dict>
	<key>运动系统</key>
	<dict>
		<key>肌肉酸痛</key>
		<string>成天就像挨打一样肌肉酸痛，则说明脾出现问题，因为脾主肌肉。立伤骨，卧伤气，坐伤肉，静伤神。</string>
		<key>肩膀僵硬酸痛</key>
		<string>肺经的病会引起肩背痛，并且体感寒。三焦经或者膀胱经不通也会造成肩部疼痛，且人情志不舒。缺微量元素钙、镁、磷。是否有肩周炎等职业病，让顾客改善生活方式多做运动。</string>
		<key>脊椎僵硬疼痛</key>
		<string>强直性脊椎炎。督脉病。跟先天元气损失有关，主要从肝肾两个方面去治，因为元气藏于肾，另坚持“易筋经”，会有比药物更好的效果。</string>
		<key>关节痛或有变形</key>
		<string>是否有类风湿和风湿性疾病？

风湿性：大关节游走性疼（疼痛会窜），而且具有对称性，若是风湿性心脏病就严重了。

类风湿：小关节肿大、疼痛。（先有症状后有疾病）</string>
		<key>骨质疏松、易骨折</key>
		<string>缺钙等微量元素。</string>
	</dict>
	<key>内分泌系统</key>
	<dict>
		<key>易抽筋</key>
		<string>缺钙镁钾等微量元素；小腿抽筋：膀胱不好；从头顶到脚后跟有膀胱经。大腿根筋：胃经虚。膝盖，脾胃。外侧，胆。</string>
		<key>易怒、心情郁闷</key>
		<string>肝火旺盛。怒伤肝</string>
		<key>眼睛酸胀痛，眼疲劳或眼痒，眼怕光或眼跳</key>
		<string>肝主目，其华在爪，可练习握力改善。</string>
		<key>眼干或易流泪</key>
		<string>眼干说明肝血不足，眼流泪是肝经收不住虚火，往上走，表现为流泪。</string>
		<key>眼屎多</key>
		<string>肝经虚弱。</string>
		<key>眼睛红血丝</key>
		<string>经常熬夜，改善生活习惯。</string>
		<key>脂肪肝</key>
		<string>眼睛黄 手心白 大小鱼际红

肝细胞与细胞间的油脂量0~30%为轻度脂肪肝，30%~50%为中度脂肪肝，50%以上为重度脂肪肝，肝肾同源，不注意会连带肾的病变，改善生活方式。</string>
		<key>灰指甲</key>
		<string>新陈代谢有问题，缺维生素和大量矿物质（矿、茶）。灰指甲是指指甲变厚发白，一点一点往里烂。</string>
		<key>白内障  血液循环</key>
		<string>缺微量元素锌、Vb2；血压高或血液粘稠，眼底动脉硬化；缺Va导致夜盲症。</string>
		<key>高、低血糖</key>
		<string>理想血糖：3.9~6.1（餐前）    7.8(餐后)

餐前空腹血糖&lt;=7.0；    餐后2小时血糖&lt;=11.1
晚8：00~早8：00不能进食，最正常。血糖&lt;2.8为低血糖
糖尿病几个加号，尿里糖高，身体里蛋白质，若有4个加号很严重，会导致肾衰竭。特征：持续高血糖。
病在脾 肾源</string>
		<key>喜吃甜食</key>
		<string>肥胖的，血糖高的人大多喜欢吃甜食；代谢失调脾胃不合。</string>
		<key>体乏、倦怠</key>
		<string>营养不良的表现;糖尿病的前兆之一。</string>
		<key>体重不正常增减</key>
		<string>增的厉害时内分泌失调，减得厉害则要注意监测血糖，糖尿病的特征之一。</string>
		<key>肥胖或太瘦</key>
		<string>吃产品调理，若产品改善不大，则要注意生活习惯，肥胖侧重“清”，太瘦侧重“补”。</string>
		<key>身体异味</key>
		<string>狐臭：淋巴排毒通道不通
鱼腥味：肺不好
尿骚味：肝不好，转氨酶高
去人多的地方闻到臭脚丫味，氨基酸吃后有此味，说明肾不好，出现尿频、尿急。
特别爱吃味重的东西：脾有问题。</string>
		<key>口干舌燥</key>
		<string>口中无唾液；津：肾脏分泌，膀胱运行输送到口腔形成唾液。肾与膀胱有问题（膀胱带动不起来津液输送到口腔）;肾不好，膀胱气不够。胃火大，膀胱经不通调动不上来，肾气不足，阴虚生内热。
例：压水井。</string>
		<key>手脚冰凉</key>
		<string>微循环不好；血压低、气血虚弱；手热脚冷（肾功能弱）；精神压力大。</string>
		<key>富贵手、脱皮</key>
		<string>缺少矿物质和维生素，代谢不好也会导致脱皮，缺维生素B族也会脱皮;手长小水泡且痒则是体内湿气太重排不出去。血热。</string>
		<key>香港脚、脚垫</key>
		<string>香港脚：脾虚、湿气太重;真菌感染（外用芦荟胶，若无改善则是脾虚）。
脚垫：脚后跟茧多裂口，是人体血液代谢太慢，问题不在脚上，在血液。
脚后跟疼：说明肾不好。
头屑：用去屑洗发水越用越多①真菌感染；②体内素素。
（严重头屑是肾的有问题，爱出头油则是肺不好）</string>
		<key>潮热潮红畏寒</key>
		<string>是男女更年期的症状，女的以7为周期，七七四十九进入更年期；
男的以8为周期，八八六十四进入更年期。</string>
		<key>易出汗</key>
		<string>汗是心之液，汗多说明心脏不好。盗汗自汗内分泌失调。</string>
		<key>皮肤过干或过油</key>
		<string>①缺少Va ②肺与大肠相表里，其华在皮毛。</string>
		<key>皮肤易长异物</key>
		<string>①缺少Va ②肺与大肠相表里，其华在皮毛（痘痘，若只是皮肤问题，则用芦荟胶管用；若不管用，则应调理大肠和肺）      痘：胃寒内分泌失调，情绪。</string>
		<key>皮肤粗糙、皮肤易发痒</key>
		<string>①缺少Va ②肺与大肠相表里，其华在皮毛 ③呼吸系统</string>
		<key>皮肤易过敏起疹</key>
		<string>①缺少Va ②肺与大肠相表里，其华在皮毛 ③呼吸系统 ④免疫失调（例：我是一个坏人，一个好的将领会调动部队来打击我，正常一个两个就够，但它失调了，调动了十个部队攻打我一个人。）</string>
	</dict>
	<key>呼吸系统</key>
	<dict>
		<key>早晚易咳 咽喉炎</key>
		<string>与肺有关，属呼吸系统症状，问被测者是否有咽炎、气管炎、支气管扩张、鼻炎等疾病。有人将扁桃体切除危害更大：扁桃体是部队，什么东西进入都会对抗，所以它会发热、肿大，如果切除，任何病毒都会在体内直出直入，会引发更多疾病。</string>
		<key>早晚易打喷嚏</key>
		<string>与肺有关</string>
		<key>经常流鼻水</key>
		<string></string>
		<key>鼻塞呼吸不畅</key>
		<string></string>
		<key>反复咳嗽</key>
		<string></string>
		<key>气喘</key>
		<string></string>
		<key>脂肪瘤</key>
		<string>与消化皮肤呼吸有关
缺乏运动，加大运动量，加速代谢，不要拿别人的错误惩罚自己，少生气，看开点</string>
	</dict>
	<key>消化系统</key>
	<dict>
		<key>消化不良</key>
		<string>怕凉、怕热、胃炎、胃溃疡、十二指肠溃疡、怕生气。（矿物晶饭后半小时吃，调后放在饭前）</string>
		<key>食量突然增减</key>
		<string>注意监测血糖是否正常</string>
		<key>偏食或厌食</key>
		<string>偏食：缺锌、Vb1      厌食：缺镁、钾</string>
		<key>排便不是4A级</key>
		<string>香蕉形，黄色，无臭，浮于水面
长期便秘（活力多4袋，健怡茶6勺；有感觉：吸收不好，没感觉：严重）;
排便正常的四个标准：形状、颜色、气味、硬度。便秘：缺膳食纤维、有益菌。腹泻：缺少有益菌。
排便臭、色深（说明吃肉过多，应多吃蔬菜、水果、多喝水。）</string>
		<key>常腹泻 </key>
		<string>脾虚  缺少有益菌。</string>
		<key>喜欢吃辛辣食物</key>
		<string>根据五行对应表辣对应肺、肺与大肠相表里，其华在皮毛，说明肺不好皮肤不好。</string>
		<key>易排气（放屁）、胀气</key>
		<string>这种人体寒，脚底怕受凉，注意下身保暖，吃产品应用温水，且水量稍减。脾胃问题，大肠运动快胃运动慢。</string>
		<key>易打嗝、呕吐</key>
		<string>打嗝：脾虚或脾大（肝胆有问题导致脾大）
呕吐：吃油腻的东西易吐，说明肝、肠胃不好。若不是则是缺Ve、钾、钠导致。
肺炎也可能引起呕吐。</string>
		<key>口腔异味或口苦</key>
		<string>有口臭，是胃与大肠的问题。例如下水道堵了，就会反上来臭味。
                    有口苦，是胆的问题，肝不好（肝胆相照）。</string>
		<key>口腔发炎</key>
		<string>溃疡：舌头里边长泡，说明肝胆不好；舌头两边有白点，说明脾胃不好；舌尖长泡，说明心脏不好。</string>
		<key>手足易潮</key>
		<string>50~60岁的人手心出汗时微循环畅通、健康的表现。若总出虚汗，说明脾虚。</string>
		<key>痔疮、胃炎或肠炎、溃疡（口、胃、肠）</key>
		<string>缺Vb12，口腔溃疡时毒素排不出去，缺Vb12所致。</string>
		<key>结石（胆、肾）</key>
		<string>肾结石：（肾是先天之体，脾是后天之体）小孩尿床时间的长短说明肾的健康状况。肝解毒，肾排毒，肾就像纱窗，毒多拍不出，积存下来就是结实。输尿管结实是肾结石的一种，女士的好排，因为尿道管短。[结石要到1.0-1.5才可碎石]（健怡茶、矿物晶）。
胆结石：身体里都有螨虫，有生有死，胆汁分泌充足，把螨虫冲走，若胆汁分泌不足，螨虫的尸体积存形成胆结石。南方人肾结石多，膀胱结石多喝水（茶大量）</string>
	</dict>
	<key>泌尿生殖系统</key>
	<dict>
		<key>尿色深、浊、有沫</key>
		<string>（尿色呈咖啡色，浑浊是肾的问题，也是痛风的症状之一。）（排尿有沫：血糖高，糖尿病的症状之一。）
［吃药是将糖分解，分解后储存到各个脏器官，所以5、6年后才会出现发病。］</string>
		<key>尿频、尿急、频繁起夜</key>
		<string>问是否有憋尿的习惯，憋尿会出现此症状。</string>
		<key>尿等待、尿不尽</key>
		<string>与前列腺有关，前列腺增生，前列腺肿大，脏器肿了，把输尿管夹住啦，导致排尿困难，肿说明有炎症</string>
		<key>尿痛、尿分叉</key>
		<string>尿分叉有可能是尿结石的前兆。</string>
		<key>高尿酸、痛风或待查</key>
		<string>痛风的症状之一，还有脚脖子（蛋白结晶）的肿痛，（嘌呤代谢障碍，蛋白结晶人不能吸收蛋白质）。医生会嘱咐患者少吃海鲜、蛋白、豆制品，痛风是蛋白转化不了，转化蛋白的脏器官出现问题（肝）身体里缺少蛋白，所以可以吃肽藻粉，不经转化，直接吸收，同时搭配玉米肽，解决肝的问题。</string>
		<key>耳鸣、耳背、耳痒</key>
		<string>肾虚的表现。肾气不足</string>
		<key>易掉头发</key>
		<string>肾虚的表现，先用洗发水调，若无改善则是肾虚，肾主骨头发是肾开的花朵。50正常</string>
		<key>四肢浮肿、麻痛</key>
		<string>肾虚的表现，如果浮肿特别厉害，健怡茶要少量递增。肾和膀胱（腿肿）脸部肿（心脏）</string>
		<key>腰酸背痛</key>
		<string>膀胱经不通，肾虚的表现。</string>
		<key>手脚易抖</key>
		<string>(1) 生理性的：在压力大、紧张、生气时才发生。有某些药物的副作用引起的。
(2) 心理性的：通常颤抖的型态比较怪异。
(3) 原发性的：由特殊体质引起的。
(4) 病理性的：因神经系统的机能障碍而产生的，像帕金森氏症等。</string>
		<key>男性前列腺炎，肥大或增生</key>
		<string>常见的急性前列腺炎的原因
(1)不当饮食:大量的喝酒、食用辛辣等刺激性的食物,会诱发急性丶前列丶腺炎。
(2)过度的手淫:男人手淫是一种正常的释放的方式,适当的手淫对于男人没有危害。但是,过度的手淫会诱发急性前列腺炎。
(3)病菌感染:男人患有急性前列腺炎常见的是男人由于病菌感染诱发的。男人患有包皮龟头炎、尿道炎等疾病后,病菌传播,感染前列腺炎,诱发急性前列腺炎。

慢性前列腺炎的病因
(1)急性炎症病变严重或未予彻底治疗而转为慢性前列腺炎。
(2)急性尿路感染治愈或未治愈而蔓延为前列腺炎，或迁延不愈为慢性前列腺炎者。
(3)邻近病变经淋巴途径蔓延至前列腺。
(4)性交过频，前列腺充血，下尿路梗阻或炎症，会阴及尿道损伤后诱发前列腺炎。
(5)全身其他部位病灶经血行感染影响前列腺而导致前列腺炎。
(6)其他，如前列腺增生和前列腺肿瘤时也可合并感染，尿道炎直接蔓延是引起慢性前列腺炎的主要途径。</string>
		<key>女性痛经</key>
		<string>痛经表现为下腹坠痛，轻者肚子疼，重者翻滚出虚汗。痛经主要是由于身体本身内分泌紊乱引起的。严重危害身体健康。</string>
		<key>月经不调</key>
		<string>血运化不好脱落慢，寒气大：沙蒜茶搭配，三个月效果明显。宫寒来时熬羊汤喝红糖水，量少时缺Vb2、铁，应多吃菠菜，喝肽藻粉。（城市人多，环境差。压力大，农村人用铁锅炒菜）</string>
	</dict>
	<key>免疫系统</key>
	<dict>
		<key>晕车</key>
		<string>缺Vb1，多喝矿物晶。</string>
		<key>常感冒</key>
		<string>一年又1-2次感冒属正常，调动身体免疫部队，若长期感冒，则是缺Vc，免疫低下。</string>
		<key>常上火发炎</key>
		<string>改善生活习惯，多喝水，少吃油腻，辛辣的东西。</string>
		<key>体温较热</key>
		<string>肺与大肠相表里，其华在皮毛，皮肤热，说明肺不好，多吃草莓。</string>
		<key>易流鼻血</key>
		<string>毛细血管破裂，用芦荟胶修复即可止血，若长期流鼻血，则为白血病的前兆，化验血小板数量。</string>
		<key>十指没有小月牙</key>
		<string>经常暴饮,消化吸收不良、排泄不畅、肠壁积存宿便或常泻肚子、肠胃衰竭者,指甲上没有月牙。若十指全没月牙的人,可能患有低血压、贫血或神经衰弱。 </string>
		<key>免疫力低下</key>
		<string>如甲亢，矿物晶大量长期服用。常发低烧。</string>
	</dict>
	<key>生活习惯</key>
	<dict>
		<key>常熬夜</key>
		<string>不良生活习惯，应改善生活习惯，胆囊易结石。</string>
		<key>大烟大酒</key>
		<string>女人易得乳腺癌，男性前列腺</string>
		<key>不太运动</key>
		<string>肚子上的脂肪很多的，有点像啤酒肚</string>
		<key>爱吃夜宵</key>
		<string>小心痛风,痛风病是一种代谢性疾病，人们饮食中的海鲜、动物内脏、酒类等嘌呤类物质含量高的食物，将不能扫除的代谢产物堆积在关节、肾脏上，能够诱发难忍的关节疼痛，影响关节和肾脏功效，严重的可招致肾功效衰竭。</string>
	</dict>
</dict>
</plist>
