<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!--0 ,1 ,3,4,6,7,13,14,-->
	<key>d0.gif</key>
	<string>weather_d_00</string>
	<key>d1.gif</key>
	<string>weather_d_01</string>
	<key>d2.gif</key>
	<string>weather_d_02</string>
	<key>d3.gif</key>
	<string>weather_d_03</string>
	<key>d4.gif</key>
	<string>weather_d_04</string>
	<key>d5.gif</key>
	<string>weather_d_04</string>
	<key>d6.gif</key>
	<string>weather_d_06</string>
	<key>d7.gif</key>
	<string>weather_d_07</string>
	<key>d8.gif</key>
	<string>weather_d_07</string>
	<key>d9.gif</key>
	<string>weather_d_07</string>
	<key>d10.gif</key>
	<string>weather_d_07</string>
	<key>d11.gif</key>
	<string>weather_d_07</string>
	<key>d12.gif</key>
	<string>weather_d_07</string>
	<key>d13.gif</key>
	<string>weather_d_13</string>
	<key>d14.gif</key>
	<string>weather_d_14</string>
	<key>d15.gif</key>
	<string>weather_d_14</string>
	<key>d16.gif</key>
	<string>weather_d_14</string>
	<key>d17.gif</key>
	<string>weather_d_14</string>
	<key>d18.gif</key>
	<string>weather_d_18</string>
	<key>d19.gif</key>
	<string>weather_d_06</string>
	<key>d20.gif</key>
	<string>weather_d_20</string>
	<key>d21.gif</key>
	<string>weather_d_07</string>
	<key>d22.gif</key>
	<string>weather_d_07</string>
	<key>d23.gif</key>
	<string>weather_d_07</string>
	<key>d24.gif</key>
	<string>weather_d_07</string>
	<key>d25.gif</key>
	<string>weather_d_07</string>
	<key>d26.gif</key>
	<string>weather_d_14</string>
	<key>d27.gif</key>
	<string>weather_d_14</string>
	<key>d28.gif</key>
	<string>weather_d_14</string>
	<key>d29.gif</key>
	<string>weather_d_29</string>
	<key>d30.gif</key>
	<string>weather_d_30</string>
	<key>d31.gif</key>
	<string>weather_d_31</string>
	<key>n0.gif</key>
	<string>weather_n_00</string>
	<key>n1.gif</key>
	<string>weather_n_01</string>
	<key>n2.gif</key>
	<string>weather_n_02</string>
	<key>n3.gif</key>
	<string>weather_n_03</string>
	<key>n4.gif</key>
	<string>weather_d_04</string>
	<key>n5.gif</key>
	<string>weather_d_04</string>
	<key>n6.gif</key>
	<string>weather_d_06</string>
	<key>n7.gif</key>
	<string>weather_d_07</string>
	<key>n8.gif</key>
	<string>weather_d_07</string>
	<key>n9.gif</key>
	<string>weather_d_07</string>
	<key>n10.gif</key>
	<string>weather_d_07</string>
	<key>n11.gif</key>
	<string>weather_d_07</string>
	<key>n12.gif</key>
	<string>weather_d_07</string>
	<key>n13.gif</key>
	<string>weather_n_13</string>
	<key>n14.gif</key>
	<string>weather_n_13</string>
	<key>n15.gif</key>
	<string>weather_n_13</string>
	<key>n16.gif</key>
	<string>weather_n_13</string>
	<key>n17.gif</key>
	<string>weather_n_13</string>
	<key>n18.gif</key>
	<string>weather_n_18</string>
	<key>n19.gif</key>
	<string>weather_d_06</string>
	<key>n20.gif</key>
	<string>weather_n_20</string>
	<key>n21.gif</key>
	<string>weather_d_07</string>
	<key>n22.gif</key>
	<string>weather_d_07</string>
	<key>n23.gif</key>
	<string>weather_d_07</string>
	<key>n24.gif</key>
	<string>weather_d_07</string>
	<key>n25.gif</key>
	<string>weather_d_07</string>
	<key>n26.gif</key>
	<string>weather_d_14</string>
	<key>n27.gif</key>
	<string>weather_d_14</string>
	<key>n28.gif</key>
	<string>weather_d_14</string>
	<key>n29.gif</key>
	<string>weather_n_29</string>
	<key>n30.gif</key>
	<string>weather_n_30</string>
	<key>n31.gif</key>
	<string>weather_n_31</string>
</dict>
</plist>
